.containerTitle{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2f7ea2;
  z-index: 1;
}

.title{
  padding: 7px;
  text-align: center;
  color: #fff;
}

.openSearch {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.openSearch a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2f7ea2;
  background-image: url('icons/add.svg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.openSearch.add a {
  background-image: url('icons/add.svg'); 
}

.openSearch.list a {
  background-image: url('icons/list.svg'); 
}

.openSearch a:hover{
  background-color: #184C63;
}

.content{
  max-width: 960px;
  width: 100%;
  margin: 60px auto 0;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

