.containerBook {
    display: flex;
}

.book {
    margin: 0 7px;
}

.containerTitle{
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.title{
    display: inline;
}

.totalBooks{
    margin-left: 15px;
    color: #7a7a7a;
}