.containerBook {
    display: flex;
}

.book {
    margin: 0 7px;
}

.containerTitle{
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin: 12px 0;
    background: #92c0d5;
}

.title{
    display: inline;
}

.totalBooks{
    margin-left: 15px;
    color: #686262;
}