.book {
    width: 140px;
}

.book:hover .containerSelectStatus, .book:hover .information{
    opacity: 1;
}

.bookAuthors {
    color: #999;
    font-size: 0.9rem;
}

.bookTop{
    position: relative;
    height: 200px;
}

.containerSelectStatus{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    bottom: 0;
    background: #16668c;
    background-image: url('icons/arrow-drop-down.svg');
    border-top-left-radius: 40%;
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s;
}

.cover {
    border: 1px solid #ccc;
    background-size: cover;
    height: 100%;
}

.selectStatus{
    position: absolute;
    top: 100%;
    right: 0;
    padding: 4px;
    width: 140px;
}

.information{
    background: #16668c;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 3px;
    opacity: 0;
    transition: opacity .5s;
    cursor: pointer;
}

.title{
    margin: 6px 0;
}