.book {
    width: 140px;
}

.bookAuthors {
    color: #999;
    font-size: 0.9rem;
}

.bookTop{
    position: relative;
    height: 200px;
}

.containerSelectStatus{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    bottom: 0;
    background: #16668c;
    background-image: url('icons/arrow-drop-down.svg');
    border-top-left-radius: 40%;
    cursor: pointer;
}

.cover {
    border: 1px solid #ccc;
    background-size: cover;
    height: 100%;
}

.selectStatus{
    position: absolute;
    top: 100%;
    right: 0;
    padding: 4px;
}